/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities; */



/* @layer components {
  .tab-active {
    @apply text-blue-600 border-blue-600 rounded-t-lg dark:text-blue-500 dark:border-blue-500;
  }
} */

/* #container {
    margin: 2em;
}

form {
    margin-bottom: 2em;
}

*/


@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;


/* #viewport {
  border: solid;
  border-color: rgba(128, 128, 128, 0.75);
  border-radius: 8px;
}  */