svg {
    width: 100%;
    height: 100%;
}


.selectable {
    cursor: pointer;
}

svg g.group-molecule {
    /* opacity: 0.1; */
}

svg g.group-molecule.selectable:hover rect {
    stroke: black !important;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}

svg g.group-molecule.selected rect {
    stroke: green !important;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}

.group-bond {
    pointer-events: none;
}

.bond-highlight-path {
    stroke: rgba(0, 0, 0, 0.781);
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-opacity: 0;
    pointer-events: stroke;
    transition: stroke-opacity 0.2s;
}


.group-bond:hover .bond-highlight-path.selectable {
    stroke-opacity: 0.35;
}

.group-bond.selected .bond-highlight-path {
    stroke-opacity: 0.5;
    stroke: rgb(255, 0, 0);
    /* animation: dash-animation 2s linear infinite; */
}

